<h1>Plots</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>" >

    <h3><%= plot.number %></h3>

    <p>Plant Names:</p>

    <% plot.plants.each do |plant| %>
      <ul><li> <%= plant.name %> <%= link_to "Delete", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %></ul>
    <%end%>
  </div>
<%end%>